<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.IBoardMapper">
	<select id="getBoardList" resultType="BoardDTO">
		SELECT * FROM BOARD ORDER BY POST_NO ASC
	</select>
	
	<insert id="insertPost" parameterType="BoardDTO">
		INSERT INTO BOARD(POST_NO, REG_ID, POST_TITLE, POST_CONTENT, UPD_ID)
		VALUES(POST_SEQ.NEXTVAL, #{REG_ID}, #{POST_TITLE}, #{POST_CONTENT},
		#{REG_ID})
	</insert>
	
	<select id="getBoardDetail" parameterType="BoardDTO"
		resultType="BoardDTO">
		SELECT POST_NO, POST_TITLE, POST_CONTENT, REG_ID
		FROM BOARD WHERE POST_NO=#{POST_NO}
	</select>
	
	<update id="updatePost" parameterType="BoardDTO">
		UPDATE BOARD SET POST_TITLE=#{POST_TITLE}, POST_CONTENT=#{POST_CONTENT} WHERE POST_NO=#{POST_NO}
	</update>
	
	<delete id="deletePost" parameterType="BoardDTO">
		DELETE FROM BOARD WHERE POST_NO=#{POST_NO}
	</delete>
</mapper>